# Importar librerias y datos

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('data/resultado_grupo5.csv')

df = df[df['final_salary'].notna()] # eliminamos columnas sin salario (segun Evilio)

correccion = pd.read_csv('data/CorreccionPrediccionKaggle.csv') # correcion del profesor.

correccion = correccion.rename(columns={'unamed_2': 'unnamed_2'})

dataset_oficial = pd.concat([df, correccion], ignore_index=True)

dataset_oficial.rename(columns={'unnamed': 'last_register', 'unnamed_2': 'years_experience'}, inplace=True)

In [3]:
# Salvarlo como nuevo dataset para el equipo.

dataset_oficial.to_csv('data/dataset_oficial.csv', index=False)

df = dataset_oficial

# EDA

In [4]:
df.head()

,uuid,company,title,position,province,city,date_of_birth,last_register,years_experience,skills,final_salary
0,798639f1-3c92-4cef-8727-a97e200eb82b,STUDIO 21,PROFESOR DE INFORMÁTICA | Customer Service Rep...,Técnico de Soporte,Madrid,MADRID,1974-08-28T00:00:00.000Z,2024-09-26,3.966667,NaN,18000.0
1,9f71f46a-b5b5-41af-ab8b-08af20ddff42,SOL MELIA,Analista de Sistemas | CONSULTOR SENIOR SAP |...,Consultor ERP,Islas Baleares,Palma,1974-03-24T00:00:00.000Z,2010-11-21,23.227778,NaN,21000.0
2,68cee060-35ee-4e64-b66f-0ac56c6b6bca,"Grupo Ferrovial, S.A.",Gerente de Sistemas de Informacion. Dpto. Inte...,Jefe de Proyecto,Madrid,Madrid,1966-10-08T00:00:00.000Z,2018-09-11,21.902778,NaN,42000.0
3,067df379-8731-49c3-8c2c-321b612c0171,Heineken España,Responsable Helpdesk | Servicedesk Manager IT,Jefe de Informática,Sevilla,Sevilla,1968-03-23T00:00:00.000Z,2022-11-08,11.580556,NaN,18000.0
4,c76ce749-9057-456a-acee-b22f0cde50a8,"AseNet Ingenieros, S.L.",Analista | Analista-Programador | Administrado...,Administrador de Bases de Datos,Madrid,Madrid,1969-10-22T00:00:00.000Z,2013-06-17,15.811111,NaN,36000.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13948 entries, 0 to 13947
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   uuid              13948 non-null  object
 1   company           13731 non-null  object
 2   title             13937 non-null  object
 3   position          13948 non-null  object
 4   province          13948 non-null  object
 5   city              13138 non-null  object
 6   date_of_birth     13948 non-null  object
 7   last_register     13948 non-null  object
 8   years_experience  13948 non-null  float64
 9   skills            5344 non-null   object
 10  final_salary      6376 non-null   float64
dtypes: float64(2), object(9)
memory usage: 1.2+ MB

In [6]:
print(df.isna().sum())

print((df.isna().mean() * 100).round())

uuid                   0
company              217
title                 11
position               0
province               0
city                 810
date_of_birth          0
last_register          0
years_experience       0
skills              8604
final_salary        7572
dtype: int64
uuid                 0.0
company              2.0
title                0.0
position             0.0
province             0.0
city                 6.0
date_of_birth        0.0
last_register        0.0
years_experience     0.0
skills              62.0
final_salary        54.0
dtype: float64

In [7]:
# Cambiamos fechas a formato datetime.

df['date_of_birth'] = pd.to_datetime(df['date_of_birth'], format='mixed', errors='coerce')
df['last_register'] = pd.to_datetime(df['last_register'], format='mixed')

/var/folders/3h/mn_gblgs6jzchz5_k2hy9rdw0000gn/T/ipykernel_97028/1513375594.py:4: FutureWarning: In a future version of pandas, parsing datetimes with mixed time zones will raise an error unless `utc=True`. Please specify `utc=True` to opt in to the new behaviour and silence this warning. To create a `Series` with mixed offsets and `object` dtype, please use `apply` and `datetime.datetime.strptime`
  df['last_register'] = pd.to_datetime(df['last_register'], format='mixed')

In [8]:
# Derivamos edad.

df['age'] = pd.Timestamp.now().year - df['date_of_birth'].dt.year

In [20]:
print(df[df["skills"].isna()].head())

                                   uuid                  company  \
0  798639f1-3c92-4cef-8727-a97e200eb82b                STUDIO 21
1  9f71f46a-b5b5-41af-ab8b-08af20ddff42                SOL MELIA
2  68cee060-35ee-4e64-b66f-0ac56c6b6bca    Grupo Ferrovial, S.A.
3  067df379-8731-49c3-8c2c-321b612c0171          Heineken España
4  c76ce749-9057-456a-acee-b22f0cde50a8  AseNet Ingenieros, S.L.

                                               title  \
0  PROFESOR DE INFORMÁTICA | Customer Service Rep...
1  Analista de Sistemas | CONSULTOR SENIOR SAP  |...
2  Gerente de Sistemas de Informacion. Dpto. Inte...
3      Responsable Helpdesk | Servicedesk Manager IT
4  Analista | Analista-Programador | Administrado...

                          position        province     city  \
0               Técnico de Soporte          Madrid   MADRID
1                    Consultor ERP  Islas Baleares    Palma
2                 Jefe de Proyecto          Madrid   Madrid
3              Jefe de Informática         Sevilla  Sevilla
4  Administrador de Bases de Datos          Madrid   Madrid

              date_of_birth        last_register  years_experience skills  \
0 1974-08-28 00:00:00+00:00  2024-09-26 00:00:00          3.966667    NaN
1 1974-03-24 00:00:00+00:00  2010-11-21 00:00:00         23.227778    NaN
2 1966-10-08 00:00:00+00:00  2018-09-11 00:00:00         21.902778    NaN
3 1968-03-23 00:00:00+00:00  2022-11-08 00:00:00         11.580556    NaN
4 1969-10-22 00:00:00+00:00  2013-06-17 00:00:00         15.811111    NaN

   final_salary  age
0       18000.0   51
1       21000.0   51
2       42000.0   59
3       18000.0   57
4       36000.0   56

## Analysis univariado

### Numericos

In [ ]:
# Continuous variables
col_num = ['final_salary', 'years_experience', 'age']

for col in col_num:
    plt.figure()
    sns.histplot(df[col].dropna(), bins=30, kde=True)
    plt.title(f'Distribution of {col}')
    plt.xlabel(col)
    plt.ylabel("Count")
    plt.show()

# Summary stats
print("\n🧮 Descriptive statistics:\n")
print(df[col_num].describe().T)

In [ ]:
for col in col_num:
    plt.figure()
    sns.boxplot(x=df[col].dropna())
    plt.title(f"Boxplot of {col}")
    plt.xlabel(col)
    plt.show()

### Categoricos

In [ ]:
# Categorical variables to explore
col_cat = ['position', 'province', 'city']
total_rows = len(df)

In [ ]:

for col in col_cat:
    plt.figure()
    top = df[col].value_counts().head(10)
    percent = (top / total_rows * 100).round(2)

    ax = sns.barplot(x=top.values, y=top.index)
    plt.title(f"Top 10 Most Common Values in {col}")
    plt.xlabel("Count")
    plt.ylabel(col)

    # Add percentage labels
    for i, (count, pct) in enumerate(zip(top.values, percent)):
        ax.text(count + total_rows * 0.002, i, f"{pct:.2f}%", va='center')

    plt.show()

    print(f"\n🔡 Top 5 {col} values:\n", pd.concat([top, percent], axis=1, keys=['Count', 'Percentage']))

In [ ]:
for col in col_cat:
    print(f"{col_cat} → {df[col_cat].nunique()} unique values")

In [ ]:
# Count company occurrences
company_counts = df['company'].value_counts()

# Count how many appear only once
single_appearance = (company_counts == 1).sum()

# Total unique companies
total_unique = company_counts.shape[0]

# Percentage
percentage_single = (single_appearance / total_unique) * 100
print(f"{percentage_single:.2f}% of companies appear only once.")

In [ ]:
company_counts = df['company'].value_counts()

more_than_once = (company_counts > 1).sum()
print(f"{more_than_once} companies appear more than once out of {df['company'].nunique()} total unique companies.")

In [ ]:
for col in col_cat:
    if df[col].nunique() <= 10:
        df[col].value_counts().plot.pie(autopct='%1.1f%%')
        plt.title(f"Distribution of {col}")
        plt.ylabel("")
        plt.show()

## Analisis multivariante

### Salary vs Years of Experience / Age

In [ ]:
# Scatter: Final Salary vs Years of Experience
sns.lmplot(x='years_experience', y='final_salary', data=df, scatter_kws={'alpha': 0.3}, line_kws={'color': 'red'})
plt.ylim(0, 100000)  # adjust as needed
plt.title("Final Salary vs Years of Experience")
plt.show()

# Scatter: Final Salary vs Age
sns.lmplot(x='age', y='final_salary', data=df, scatter_kws={'alpha': 0.3}, line_kws={'color': 'red'})
plt.ylim(0, 100000)  # adjust as needed
plt.title("Final Salary vs Age")
plt.show()

In [ ]:
# Final Salary by Position (Top 10)
top_positions = df['position'].value_counts().head(10).index
plt.figure()
sns.boxplot(data=df[df['position'].isin(top_positions)], x='final_salary', y='position')
plt.xlim(0, 100000)
plt.title("Final Salary by Position (Top 10)")
plt.xlabel("Final Salary")
plt.ylabel("Position")
plt.show()

# Final Salary by Province (Top 8)
top_provinces = df['province'].value_counts().head(8).index
plt.figure()
sns.boxplot(data=df[df['province'].isin(top_provinces)], x='final_salary', y='province')
plt.xlim(0, 100000)
plt.title("Final Salary by Province (Top 8)")
plt.xlabel("Final Salary")
plt.ylabel("Province")
plt.show()

In [ ]:
# Position vs Province: top 5 of each
cross_tab = pd.crosstab(
    df[df['position'].isin(df['position'].value_counts().head(5).index)]['position'],
    df[df['province'].isin(df['province'].value_counts().head(5).index)]['province']
)

sns.heatmap(cross_tab, annot=True, fmt='d', cmap='YlGnBu')
plt.title("Position vs Province (Top 5)")
plt.show()

In [ ]:
# Correlation heatmap
plt.figure()
numerical_features = ['final_salary', 'years_experience', 'age']
corr = df[numerical_features].corr()

sns.heatmap(corr, annot=True, cmap='coolwarm', vmin=-1, vmax=1)
plt.title("Correlation Between Numerical Features")
plt.show()

# Feature engineering

### Company

In [21]:
print(f"Unique companies: {df['company'].nunique()}")
print(df['company'].value_counts().head(10))  # Most common
print(df['company'].value_counts().tail(10))  # Rare companies

Unique companies: 12103
company
Accenture    120
Indra         56
Freelance     54
Everis        48
IBM           39
Capgemini     34
Autónomo      30
everis        30
INDRA         30
Coritel       27
Name: count, dtype: int64
company
DxD Deloitte                                                                        1
SERVICIOS INFORMATICOS DE ALAVA, S.A.                                               1
INDRA- CLIENTE RED ELECTRICA DE ESPAÑA                                              1
PROMARSA Marketing & Asociados                                                      1
Ywen S.L.L. (Toledo)                                                                1
GRUPO SOLUTIO- Destinada durante 7 años en la Agencia Tributaria (DIT) de Madrid    1
GAES                                                                                1
Embention                                                                           1
ALBORGIS                                                                            1
Cimadigital                                                                         1
Name: count, dtype: int64

In [22]:
# Let's input the companies with missing values.

df["company"] = df["company"].fillna("Others")

print("Company nulls after fill:", df["company"].isna().sum())  # Chequear... cuantos NAs tenemos?

Company nulls after fill: 0

In [ ]:
# Basic cleaning of companies

import re
import unicodedata

def strip_accents(text: str) -> str:
    """Remove diacritics, e.g. ‘España’ → ‘Espana’."""
    return "".join(
        ch
        for ch in unicodedata.normalize("NFKD", text)
        if not unicodedata.combining(ch)
    )

def clean_company(name: str) -> str:
    """
    1) Lowercase and strip whitespace
    2) Replace ‘&’ → ‘ and ’
    3) Remove punctuation (commas, periods, parentheses)
    4) Remove common corporate suffixes (‘s.a.’, ‘sa’, ‘s.l.’, etc.) at end
    5) Strip accents
    6) Collapse multiple spaces
    """
    if pd.isna(name) or not name.strip():
        return "others"  # or whatever placeholder you chose

    s = name.lower().strip()
    s = re.sub(r"&", " and ", s)
    s = re.sub(r"[\,\.\(\)]", " ", s)
    # Remove Spanish “S.A.” / “SA” / “S.L.” suffixes at the end:
    s = re.sub(r"\s+(s\.?a\.?|s\.?l\.?)$", "", s)
    s = strip_accents(s)
    s = re.sub(r"\s+", " ", s).strip()
    return s

# Apply:
df["company_clean"] = df["company"].fillna("others").apply(clean_company)

In [27]:
print(f"Unique companies: {df['company'].nunique()}")
print(df['company_clean'].value_counts().head(20))  # Most common
print(df['company_clean'].value_counts().tail(20))  # Rare companies

Unique companies: 12104
company_clean
others                 217
accenture              149
indra                   91
everis                  90
freelance               66
autonomo                58
capgemini               47
ibm                     41
coritel                 40
sermicro                39
ibermatica              36
indra sistemas          26
tecnocom                25
deloitte                23
iecisa                  21
axpe consulting         21
indra software labs     19
viewnext                19
insa                    19
alten                   18
Name: count, dtype: int64
company_clean
qapoint                                    1
joyerias jose luis s l                     1
diputacion de valencia                     1
inst tec montajes de seguridad             1
centro islamico del rey khaled             1
reserva mundial de la biosfera la palma    1
grupo repair                               1
gyg anuncios                               1
entelgy / bristish telecom                 1
serhs                                      1
scalefast                                  1
ayuntamiento de teverga                    1
nonstop desarrollo de software             1
almendra y miel el lobo 1880               1
tecsidel / telefonica e indra              1
everis consulting                          1
rife network                               1
waavi studio                               1
logic sistemas                             1
cimadigital                                1
Name: count, dtype: int64

In [29]:
# Already done a “clean_company” pass, so just count company_clean frequencies:
freq = df["company_clean"].value_counts(normalize=True)

# Let’s look at the top 50 (or some number you choose)
top_n = 50
top50 = freq.nlargest(top_n)
print(top50)

company_clean
others                               0.015558
accenture                            0.010683
indra                                0.006524
everis                               0.006453
freelance                            0.004732
autonomo                             0.004158
capgemini                            0.003370
ibm                                  0.002939
coritel                              0.002868
sermicro                             0.002796
ibermatica                           0.002581
indra sistemas                       0.001864
tecnocom                             0.001792
deloitte                             0.001649
iecisa                               0.001506
axpe consulting                      0.001506
indra software labs                  0.001362
viewnext                             0.001362
insa                                 0.001362
alten                                0.001291
atos origin                          0.001219
t-systems                            0.001219
telefonica i+d                       0.001147
atos                                 0.001147
indra sistemas s a                   0.001075
varias                               0.001075
telefonica                           0.001004
el corte ingles                      0.000932
altran                               0.000932
fujitsu                              0.000932
hp                                   0.000932
bbva                                 0.000932
hewlett packard                      0.000860
getronics                            0.000860
avanade                              0.000860
isban                                0.000789
carrefour                            0.000789
seidor                               0.000789
neoris                               0.000789
vodafone                             0.000789
dmr consulting                       0.000717
ayesa                                0.000717
accenture s l                        0.000717
sermicro s a                         0.000717
unisys                               0.000717
universidad politecnica de madrid    0.000645
sopra group                          0.000645
pc city                              0.000645
coritel s a                          0.000645
oesia                                0.000645
Name: proportion, dtype: float64

### Skills cleanup

In [23]:
df["skills_missing"] = df["skills"].isna().astype(int) # creating a binary flag with skills missing.

In [ ]:
df['company_clean'] = df['company'].str.strip().str.lower()

In [ ]:
df['company_clean'].value_counts() #

In [ ]:
# Muestra todos los valores sin cortar
pd.set_option('display.max_rows', None)

# Luego muestra los valores
print(df['company'].value_counts().sort_index())

In [ ]:
# Utilizemos el API de Gemini para mapear.

from google import genai

GEM_KEY='AIzaSyDCJFevPLOar2U4E0G0jSN0a4s_RMDLKbg'

client = genai.Client(api_key=GEM_KEY)

response = client.models.generate_content(
    model="gemini-2.0-flash", contents="Explain how AI works in a few words"
)
print(response.text)

In [ ]:
unique_companies = df["company"].dropna().unique().tolist()

In [ ]:
df.company.unique()

In [ ]:
df.head()