In [1]:
import numpy as np
import pandas as pd

In [2]:
df1 = pd.read_csv('dataset_1.csv')
df2 = pd.read_csv('dataset_2.csv')

# DF1

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10491 entries, 0 to 10490
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   dataset_i_id  10491 non-null  object
 1   i_name        10491 non-null  object
 2   i_last_name   10491 non-null  object
 3   i_tel_enc     10053 non-null  object
 4   i_email_enc   10491 non-null  object
 5   i_url_enc     853 non-null    object
 6   i_company     7545 non-null   object
 7   i_experience  7680 non-null   object
dtypes: object(8)
memory usage: 655.8+ KB

In [8]:
df1.isna().sum()

dataset_i_id       0
i_name             0
i_last_name        0
i_tel_enc        438
i_email_enc        0
i_url_enc       9638
i_company       2946
i_experience    2811
dtype: int64

In [11]:
len(df1)

10491

In [ ]:
duplicates_per_column = df1.apply(lambda col: col.duplicated().sum())

duplicates_per_column

dataset_i_id       0
i_name          7536
i_last_name     2201
i_tel_enc        938
i_email_enc      448
i_url_enc       9671
i_company       3675
i_experience    4157
dtype: int64

In [17]:
# Drop the unique identifier column
df_no_id = df1.drop(columns=['dataset_i_id'])

# Find fully duplicated rows (excluding the first occurrence)
duplicated_rows = df_no_id.duplicated()

# Count how many rows are duplicated
num_duplicates = duplicated_rows.sum()

print(f"Number of duplicated rows (excluding dataset_i_id): {num_duplicates}")

Number of duplicated rows (excluding dataset_i_id): 448

In [27]:
# Find all experience values that appear more than once
duplicated_experience_values = df1['i_experience'].value_counts()
duplicated_experience_values = duplicated_experience_values[duplicated_experience_values > 1].index

# Filter rows that have duplicated experience
df_duplicated_experience = df1[df1['i_experience'].isin(duplicated_experience_values)]

# Sort by i_experience to group similar entries
df_duplicated_experience = df_duplicated_experience.sort_values('i_experience')

# Display the first few rows
print(df_duplicated_experience.head(10))  # or use .sample(10) to see random ones

                              dataset_i_id            i_name  \
3578  90b9ff89-bd98-4fba-b420-d783ceae2c9a      María Jesús
403   6bf2d879-0c28-42a9-ab74-430be5ecbfb0      María Jesús
8476  05cb43c1-3eda-461b-910d-e957cbbfa111          Cristina
7125  3bd01197-b8c3-4249-b6c2-b448860cf91b          Cristina
2108  0a2af093-7214-47cd-8b3f-fc67156643ca  Francisco Javier
9319  7202827a-e604-4cae-bccf-c2ab7c136caa           Alberto
7719  1f22a163-a7c1-4fbf-9fa1-77e08a330824       jose andres
1509  9ba5d839-a37c-4204-bce0-949098c99aa9       jose andres
7332  68b37fe8-46a8-41ab-840a-448e042b0748            DANIEL
9748  8e517714-0be5-4589-922f-bcb226204399             SOFIA

           i_last_name                         i_tel_enc  \
3578      María Jesús   33bab0ef80e8159d4300d1a213f91cd7
403       María Jesús   33bab0ef80e8159d4300d1a213f91cd7
8476           Montero  c8d04ac214206b8a6615ad826734d6f3
7125           Montero  c8d04ac214206b8a6615ad826734d6f3
2108  Rodri­guez Lopez  8321f615ce7de750558902ec50d4b6ff
9319            Bernal  2d4abb5e9c83eb3fd7e245fe65254ac4
7719         tobaruela  4fec244a34ed4ef41df8cf7550c2b78c
1509         tobaruela  4fec244a34ed4ef41df8cf7550c2b78c
7332            JURADO  e1cb26650590715be0c3ff27faa2e55e
9748          APARICIO  345d772d7960b9ada46d7132b48da966

                           i_email_enc                         i_url_enc  \
3578  aa43ffa1d1a3b0ffbf300243d16b3833  74ca0b7441feb8403d52c6d37979da37
403   aa43ffa1d1a3b0ffbf300243d16b3833  74ca0b7441feb8403d52c6d37979da37
8476  25311fd20442d1b1bfb07253ca7ebb41                               NaN
7125  25311fd20442d1b1bfb07253ca7ebb41                               NaN
2108  2ce1b0e0b520fabab99d39c939031ba0                               NaN
9319  c4239f184c56c5add3d943b7b573a883                               NaN
7719  6a6c66231198925fc73864d6cf86572a                               NaN
1509  6a6c66231198925fc73864d6cf86572a                               NaN
7332  66908dd0a396615198094f10faff3e03                               NaN
9748  6d85e8b179a5c42ebc47428ef9492284                               NaN

                                              i_company  \
3578  Games Work | Cronos Iberica  | Cronos Iberica ...
403   Games Work | Cronos Iberica  | Cronos Iberica ...
8476                                            fosival
7125                                            fosival
2108                              SERMICRO | SERMALOGIC
9319                    Maple Systems | Agrupo Sistemas
7719  EMPRESA CONSULTORA | EMPRESA CONSULTORA | EMPR...
1509  EMPRESA CONSULTORA | EMPRESA CONSULTORA | EMPR...
7332                             GENERAL ELEVADORES XXI
9748                               CORREOS Y TELÉGRAFOS

                                           i_experience
3578   Productora de Video Juegos. |  Asistencia Téc...
403    Productora de Video Juegos. |  Asistencia Téc...
8476                                                ...
7125                                                ...
2108                                            72 | 72
9319                                            72 | 72
7719  AALISTA PROGRAMADOR | ANALISTA PROGRAMADOR | A...
1509  AALISTA PROGRAMADOR | ANALISTA PROGRAMADOR | A...
7332                          ADMINISTRADOR DE SISTEMAS
9748                          ADMINISTRADOR DE SISTEMAS

In [29]:
len(df_duplicated_experience)

1867

In [32]:
extra_dup_count = df1['i_experience'].duplicated().sum()
extra_dup_count

np.int64(4157)

# DF2

In [12]:
df2.head()

,dataset_m_id,m_name,m_last_name,m_tel_enc,m_email_enc,m_url_enc,m_company,m_experience
0,b6fc3cfd-7228-462c-a77e-f6dec37e6e5b,David,Hernandez,NaN,NaN,53edfbdc28d60e007263a8c51e674ae1,Dominion Industry & Infraestructures,Técnico Informatico
1,4ef568a6-2578-45b8-b705-df2c0832b045,Sacha - Laurent,Van de sijpe Bueno,NaN,NaN,600aedb80edb9cb99e173c6699a64c87,Sopra Steria | everis | everis | Gfi España | ...,Senior Developer | Developer | Junior Java Dev...
2,5a51bde2-0ce5-4456-9516-717f6741e428,Óscar,Martínez Pérez,NaN,40c826ea0f7d0e7a3d6c88612346d7d1,83ea3da726a55639182e24a076bf06ed,Generalitat de Catalunya | Universitat Pompeu ...,Data Analyst. Servei de Vigilància Epidemiològ...
3,69a42137-3ce6-4e7a-8cbf-3e4c3d13bfd9,Daniel,Martínez Rodríguez,NaN,NaN,10f6a11e2a25cebf7dc4da93557bddfe,IECISA | DXC Technology | Ricoh España | Seres...,Administrador de sistemas (Unix-Sap) | Service...
4,578bd391-3801-4fa3-8674-289328b7c780,Carlos,Garcia Fernandez,NaN,9ff551a759efabfa3e63fae118c6b95b,0249c33ab3373704eb2e761f574f07ed,Leuko | R&D Developer/Architect Team leader | ...,Investor | Program Manager | Director academic...

In [18]:
df2.isna().sum()

dataset_m_id       0
m_name             9
m_last_name       71
m_tel_enc       7686
m_email_enc     7037
m_url_enc       2387
m_company       2652
m_experience     718
dtype: int64

In [19]:
len(df2)

10491

In [21]:
duplicates_per_column = df2.apply(lambda col: col.duplicated().sum())

duplicates_per_column

dataset_m_id       0
m_name          8413
m_last_name     3241
m_tel_enc       7822
m_email_enc     7144
m_url_enc       2574
m_company       2889
m_experience    2835
dtype: int64

In [23]:
# Drop the unique identifier column
df_no_id = df2.drop(columns=['dataset_m_id'])

# Find fully duplicated rows (excluding the first occurrence)
duplicated_rows = df_no_id.duplicated()

# Count how many rows are duplicated
num_duplicates = duplicated_rows.sum()

print(f"Number of duplicated rows (excluding dataset_i_id): {num_duplicates}")

Number of duplicated rows (excluding dataset_i_id): 267